*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}



.nav-icon{
    margin-left: 20px ;
}

.header-content-man{
    width: 350px;
    height: 350px;
    position: relative;
}

.header-content-main{
    color: #2f215c;
}

.header-content {
    margin-top: 200px;
    margin-bottom: 300px;
}

.tech-icons{
    width: 60%;
    transition:all 0.5s;
    margin-bottom: 80px;
}

.all-text{
    margin-bottom: 140px;
    color: #8b74d4;
}

.all-title{
    margin-bottom: 50px;
    color: #2f215c;
}

.tech{
    margin-bottom: 200px;
}    

.tech-icons-box .col-6{
    position: relative;
}

.card{
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    border: none;
    transition: all 0.4s ease-in-out;
}

.footer-link{
    text-decoration: none;
    color: #8b74d4;
}

footer{
    margin-bottom: 50px;
    margin-top: 120px;
}


@media (max-width:767px){
    .header-content-man{
        display: none ;
    }

    .header-content-main{
        text-align: center;
        margin: 0 auto;
    }

    .phone-none, footer h1, footer br, .md-none-footer, .footer-link{
        display: none;
    }

    .tech-icons{
        width: 50%;
    }
}

@media (max-width:1199px) {
    .card{
        margin: 20px auto;
    }

    .header-content{
        margin-bottom: 150px;
        margin-top: 150px;
    }

    .tech{
        margin-bottom: 80px;
    }

    .nav-icon{
        display: none;
    }

} 

.tech-icons:hover{animation: pulsing 1s ;}
@keyframes pulsing{
    0%{transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{transform: translateY(2px);}
    70%{transform: translateY(-4px);}
    80%{transform: translateY(0);}
}

.main-img{
    width: 350px;
    height: 350px;
    background: rgb(83, 60, 165);
    position: relative;
}

.main-img::after, .main-img::before{
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    z-index: -1;
    box-sizing: content-box;
    bottom: -1.4%;
    left: -1.4%;
    background-image: conic-gradient( #ca24b4 , #13b0f5 , #ca24b4);
    border-radius: 50%;
}

.main-img::before{
    filter: blur(4rem);
    opacity: 0.5;
}

.nav-link{
    margin-right: 50px;
    transition: 0.5s;
    position: relative;
    width: max-content;
    line-height: 15px;
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 75%;
    height: 2px;
    border-radius: 4px;
    /* background: linear-gradient(to right, red , blue); */
    background: blue;
    bottom: 0;
    left: 0;
    box-shadow: 1px 1px 2px #13b0f5;
    transition: 0.5s ease;
    left: 8px;
}

.nav-link:hover::after{
    width: 0;
}

.card:hover{
    box-shadow: 2px 2px 100px 0px rgba(8, 48, 228, 0.6) ;
}