*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}

.nav-link{
    margin-right: 50px;
    transition: 0.5s;
    color: #8b74d4;
}


.nav-icon{
    margin-left: 20px ;
}

.header-content-man{
    width: 350px;
    height: 350px;
    background: linear-gradient(90deg, #13B0F5 -0.08%, #CA24B4 63.6%);
}

.header-content-main{
    color: #2f215c;
}

.header-content {
    margin-top: 200px;
    margin-bottom: 300px;
}

.tech-icons{
    width: 60%;
    transition:all 0.5s;
    margin-bottom: 80px;
}

.all-text{
    margin-bottom: 140px;
    color: #8b74d4;
}

.all-title{
    margin-bottom: 50px;
    color: #2f215c;
}

.tech{
    margin-bottom: 200px;
}

.tech-icons-box .col-6{
    position: relative;
}

.card{
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.footer-link{
    text-decoration: none;
    color: #8b74d4;
}

footer{
    margin-bottom: 50px;
    margin-top: 120px;
}


@media (max-width:767px){
    .header-content-man{
        display: none ;
    }

    .header-content-main{
        text-align: center;
        margin: 0 auto;
    }

    br{
        display: none;
    }

    .phone-none{
        display: none;
    }

    footer h1{
        display: none;
    }

}

@media (max-width:1199px) {
    .card{
        margin: 20px auto;
    }

    .header-content{
        margin-bottom: 150px;
        margin-top: 150px;
    }

    .tech{
        margin-bottom: 80px;
    }

    .nav-icon{
        display: none;
    }

} 
